td {
    width: 100px;
    height: 100px;
    border: 5px solid black;
    text-align: center;
    padding: 0;
}

.tile {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.tile-blank {
    background-color: #FBEAEB;
}

.tile-yellow {
    color: #292826;
    background-color: #F9D342;
}

.tile-pink {
    color: #3D15FF;
    background-color: #DF678C;
}

.tile-blue {
    color: #CCF381;
    background-color: #4831D4;
}

.tile-orange {
    color: #4A274F;
    background-color: #F0A07C;
}

.tile-red {
    color: #2B3252;
    background-color: #EF5455;
}

.tile-purple {
    color: #FFF748;
    background-color: #3C1A5B;
}

.tile-black {
    color: #EC4D37;
    background-color: #1D1B1B;
}

.tile-turquoise {
    color: #8BD8BD;
    background-color: #243665;
}

.tile-oranger {
    color: #141A46;
    background-color: #EC8B5E;
}

.tile-green {
    color: #FFE67C;
    background-color: #295F2D;
}

.tile-bright-pink {
    color: #080A52;
    background-color: #EB2188;
}

.new-tile {
    animation: createBox 0.2s;
}

@keyframes createBox {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.slideX1 {
    animation-name: slideX1;
    animation-duration: 0.13s;
}

.slideX2 {
    animation-name: slideX2;
    animation-duration: 0.13s;
}

.slideX3 {
    animation-name: slideX3;
    animation-duration: 0.13s;
}

.slide-X1 {
    animation-name: slide-X1;
    animation-duration: 0.13s;
}

.slide-X2 {
    animation-name: slide-X2;
    animation-duration: 0.13s;
}

.slide-X3 {
    animation-name: slide-X3;
    animation-duration: 0.13s;
}

.slideY1 {
    animation-name: slideY1;
    animation-duration: 0.13s;
}

.slideY2 {
    animation-name: slideY2;
    animation-duration: 0.13s;
}

.slideY3 {
    animation-name: slideY3;
    animation-duration: 0.13s;
}

.slide-Y1 {
    animation-name: slide-Y1;
    animation-duration: 0.13s;
}

.slide-Y2 {
    animation-name: slide-Y2;
    animation-duration: 0.13s;
}

.slide-Y3 {
    animation-name: slide-Y3;
    animation-duration: 0.13s;
}


@keyframes slideX1 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(100% + 5px));
    }
}

@keyframes slideX2 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(200% + 10px));
    }
}

@keyframes slideX3 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(300% + 15px));
    }
}

@keyframes slide-X1 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 5px));
    }
}

@keyframes slide-X2 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-200% - 10px));
    }
}

@keyframes slide-X3 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-300% - 15px));
    }
}

@keyframes slideY1 {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(calc(100% + 5px));
    }
}

@keyframes slideY2 {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(calc(200% + 10px));
    }
}

@keyframes slideY3 {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(calc(300% + 15px));
    }
}

@keyframes slide-Y1 {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(calc(-100% - 5px));
    }
}

@keyframes slide-Y2 {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(calc(-200% - 10px));
    }
}

@keyframes slide-Y3 {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(calc(-300% - 15px));
    }
}