@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    border: 5px solid;
    top: 0.5rem;
}


table {
    margin: 1em auto;
    font-size: 32px;
    border: 5px solid;
}

table, td {
    padding: 0;
}

td {
    width: 100px;
    height: 100px;
    border: 5px solid black;
    text-align: center;
}

.tile {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.tile-blank {
    background-color: #FBEAEB;
}

.tile-yellow {
    color: #292826;
    background-color: #F9D342;
}

.tile-pink {
    color: #3D15FF;
    background-color: #DF678C;
}

.tile-blue {
    color: #CCF381;
    background-color: #4831D4;
}

.tile-orange {
    color: #4A274F;
    background-color: #F0A07C;
}

.tile-red {
    color: #2B3252;
    background-color: #EF5455;
}

.tile-purple {
    color: #FFF748;
    background-color: #3C1A5B;
}

.tile-black {
    color: #EC4D37;
    background-color: #1D1B1B;
}

.tile-turquoise {
    color: #8BD8BD;
    background-color: #243665;
}

.tile-oranger {
    color: #141A46;
    background-color: #EC8B5E;
}

.tile-green {
    color: #FFE67C;
    background-color: #295F2D;
}

.tile-bright-pink {
    color: #080A52;
    background-color: #EB2188;
}

.new-tile {
    animation: createBox .25s;
}

.new-tile2 {
    animation: createBox2 .25s;
}

@keyframes createBox {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes createBox2 {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.slideX1 {
    animation-name: slideX1;
    animation-duration: 0.2s;
}

.slideX2 {
    animation-name: slideX2;
    animation-duration: 0.2s;
}

.slideX3 {
    animation-name: slideX3;
    animation-duration: 0.2s;
}

.slide-X1 {
    animation-name: slide-X1;
    animation-duration: 0.2s;
}

.slide-X2 {
    animation-name: slide-X2;
    animation-duration: 0.2s;
}

.slide-X3 {
    animation-name: slide-X3;
    animation-duration: 0.2s;
}

.slideY1 {
    animation-name: slideY1;
    animation-duration: 0.2s;
}

.slideY2 {
    animation-name: slideY2;
    animation-duration: 0.2s;
}

.slideY3 {
    animation-name: slideY3;
    animation-duration: 0.2s;
}

.slide-Y1 {
    animation-name: slide-Y1;
    animation-duration: 0.2s;
}

.slide-Y2 {
    animation-name: slide-Y2;
    animation-duration: 0.2s;
}

.slide-Y3 {
    animation-name: slide-Y3;
    animation-duration: 0.2s;
}


@keyframes slideX1 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(100% + 5px));
    }
}

@keyframes slideX2 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(200% + 10px));
    }
}

@keyframes slideX3 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(300% + 15px));
    }
}

@keyframes slide-X1 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 5px));
    }
}

@keyframes slide-X2 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-200% - 10px));
    }
}

@keyframes slide-X3 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-300% - 15px));
    }
}

@keyframes slideY1 {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(calc(100% + 5px));
    }
}

@keyframes slideY2 {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(calc(200% + 10px));
    }
}

@keyframes slideY3 {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(calc(300% + 15px));
    }
}

@keyframes slide-Y1 {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(calc(-100% - 5px));
    }
}

@keyframes slide-Y2 {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(calc(-200% - 10px));
    }
}

@keyframes slide-Y3 {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(calc(-300% - 15px));
    }
}